  <% restaurants.each do |restaurant| %>
  <%= render restaurant %>
  <!-- <p><%= render 'restaurant', restaurant: restaurant %></p> -->
  <p>
    <%= link_to "Show this restaurant", restaurant %>
  </p>
<% end %>
